<section class="bg-orange-50 dark:bg-gray-800 bg-blend-multiply">
    <h2 class="animate-fade-in-up text-center py-10 relative z-10 mb-4 text-4xl font-bold leading-none text-gray-900 lg:text-5xl dark:text-white">Escursioni e gite in barca</h2>
    <p class="text-gray-800 dark:text-gray-400 text-center px-16 pb-6">
        Qui trovate le escursioni che propongo da poter effettuare in giornata.<br>
        Inoltre posso organizzare <strong>TRASFERIMENTI</strong> in macchina da Mombasa a Watamu, Malindi o Nairobi e viceversa.
    </p>
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 px-12 py-12 max-w-6xl mx-auto">
        
        <div id="{{ 'grid-' + excursion.varName }}" *ngFor="let excursion of excurions" class="flex flex-col bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-900 dark:border-gray-700">
            <button class="w-full" (click)="openModal(excursion.varName + 'Modal')">
                <div class="relative h-72 sm:h-80 overflow-hidden rounded-t-lg">
                    <img class="absolute -top-2 block w-full rounded-t-lg hover:scale-110 transition duration-500" ngSrc="{{ excursion.imgFolder + excursion.thumbnail }}" alt="" sizes="(max-width: 768px) 100vw, 50vw" fill [priority]="modalNameFromOther == ''"/>
                </div>
            </button>
            <div class="px-5 pt-5">
                <button (click)="openModal(excursion.varName + 'Modal')" class="text-left">
                    <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ excursion.title }}</h5>
                    <h6 class="mb-2 text-lg font-bold tracking-tight text-gray-700 dark:text-gray-300">{{ excursion.duration | lowercase }}</h6>
                </button>
                <div class="flex items-center text-gray-400 pb-3">
                    <svg class="w-4 h-4 mr-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.8159 20.6077C16.8509 18.5502 20 15.1429 20 11C20 6.58172 16.4183 3 12 3C7.58172 3 4 6.58172 4 11C4 15.1429 7.14909 18.5502 11.1841 20.6077C11.6968 20.8691 12.3032 20.8691 12.8159 20.6077Z" stroke="#9ca3af" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M15 11C15 12.6569 13.6569 14 12 14C10.3431 14 9 12.6569 9 11C9 9.34315 10.3431 8 12 8C13.6569 8 15 9.34315 15 11Z" stroke="#9ca3af" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    {{ excursion.place }}
                </div>
            </div>
            <div class="mt-auto mb-0 px-5 pb-5">
                <hr class="my-3 border-gray-200 sm:mx-auto dark:border-gray-700" />
                <div class="flex justify-items-end">
                    <span *ngIf="excursion.price != ''" class="items-center inline-flex text-md font-semibold text-gray-900 dark:text-white ml-0 mr-1">da </span>
                    <span class="items-center inline-flex text-xl font-bold text-amber-600 text-left ml-0 mr-auto">{{ excursion.price }}</span>
                    <button (click)="openModal(excursion.varName + 'Modal')" class="inline-flex items-center px-3 py-2 mr-0 ml-auto text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Info
                        <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

    </div>
</section>

<div *ngFor="let excursionDetail of excurions" id="{{ excursionDetail.varName + '-modal' }}" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-7xl max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="absolute top-4 right-14">
                <button (click)="closeModal(excursionDetail.varName + 'Modal')" type="button" class="fixed z-40 ml-auto text-gray-400 hover:bg-gray-400 hover:text-gray-900 rounded-full bg-gray-200 border-4 border-gray-500 text-sm w-10 h-10 inline-flex justify-center items-center dark:hover:bg-gray-500 dark:bg-gray-700 dark:border-gray-300 dark:hover:text-white">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <div class="rounded-t dark:border-gray-600">
                
                    <h2 class="px-6 pt-6 font-potato text-2xl text-gray-900 dark:text-white">
                        {{ excursionDetail.title }}
                    </h2>
                    
                    <h3 class="px-6 py-3 text-lg font-medium text-gray-800 dark:text-gray-200">
                        {{ excursionDetail.duration }}
                    </h3>
                    <div class="p-6 flex items-center text-gray-400 pt-0 text-md">
                        <svg class="w-6 h-6 mr-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.8159 20.6077C16.8509 18.5502 20 15.1429 20 11C20 6.58172 16.4183 3 12 3C7.58172 3 4 6.58172 4 11C4 15.1429 7.14909 18.5502 11.1841 20.6077C11.6968 20.8691 12.3032 20.8691 12.8159 20.6077Z" stroke="#9ca3af" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15 11C15 12.6569 13.6569 14 12 14C10.3431 14 9 12.6569 9 11C9 9.34315 10.3431 8 12 8C13.6569 8 15 9.34315 15 11Z" stroke="#9ca3af" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        {{ excursionDetail.place }}
                    </div>
                    <div class="p-6 bg-orange-50 dark:bg-gray-800 grid grid-cols-1 gap-6 md:grid-cols-2">
                        <div class="relative items-center h-72 sm:h-96 lg:h-[28rem] px-6">
                            <div class="relative h-72 overflow-hidden rounded-lg sm:h-96 lg:h-[28rem]">
                                <div *ngFor="let excursionImage of excursionDetail.imgsArray; let i = 'index+1'" class="hidden duration-700 ease-in-out" id="{{'carousel-'+excursionDetail.varName+'-item-'+i}}">
                                    <img [attr.loading]="excursionDetail.varName+'Modal' == modalNameFromOther && i == 1 ? 'eager' : 'lazy'" src="{{ excursionDetail.imgFolder + excursionImage }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                                </div>
                            </div>
                            <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
                                <button *ngFor="let excursionImage of excursionDetail.imgsArray; let i = 'index+1'" type="button" class="w-3 h-3 rounded-full" [attr.aria-selected]="i == 1" [attr.aria-label]="'Slide ' + i" id="{{'carousel-'+excursionDetail.varName+'-indicator-'+i}}"></button>
                            </div>
                            <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" id="{{'carousel-'+excursionDetail.varName+'-prev'}}">
                                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                    <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                                    </svg>
                                    <span class="hidden">Previous</span>
                                </span>
                            </button>
                            <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" id="{{'carousel-'+excursionDetail.varName+'-next'}}">
                                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                    <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                                    </svg>
                                    <span class="hidden">Next</span>
                                </span>
                            </button>
                        </div>
                        <div>
                            <span *ngIf="excursionDetail.price != ''" class="items-center inline-flex text-md font-semibold text-gray-900 dark:text-white ml-0 mr-1">Prezzo da </span>
                            <span class="mb-4 items-center inline-flex text-xl font-bold text-amber-600 text-left ml-0 mr-auto">{{ excursionDetail.price }}</span>
                            <h2 class="mb-2 text-xl font-semibold text-gray-900 dark:text-white">Programma</h2>
                            <p *ngFor="let programItem of excursionDetail.programs" class="text-base leading-relaxed text-gray-500 dark:text-gray-400" [innerHTML]="programItem">
                            </p>
                        </div>
                    </div>
                    <div class="p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                        <div *ngIf="excursionDetail.included?.length">
                            <h2 class="pb-4 font-semibold text-2xl text-gray-900 dark:text-white">
                                Incluso
                            </h2>
                            <ul class="space-y-1 list-inside text-base leading-relaxed text-gray-500 dark:text-gray-400">
                                <li *ngFor="let includedItem of excursionDetail.included" class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-green-500 mr-2 flex-shrink-0" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                                    </svg>
                                    {{ includedItem }}
                                </li>
                            </ul>
                        </div>
                        <div *ngIf="excursionDetail.excluded?.length">
                            <h2 class="pb-4 font-semibold text-2xl text-gray-900 dark:text-white">
                                Escluso
                            </h2>
                            <ul class="space-y-1 list-inside text-base leading-relaxed text-gray-500 dark:text-gray-400">
                                <li *ngFor="let excludedItem of excursionDetail.excluded" class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-gray-500 mr-2 flex-shrink-0" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                                    </svg>
                                    {{ excludedItem }}
                                </li>
                            </ul>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</div>

