
<section class="">
    <div class="relative">
        <img class="h-full object-cover -z-10" ngSrc="/assets/img/homepage.jpg" alt="" fill priority/>
        <div class="relative px-16 mx-auto max-w-screen-xl text-center md:text-left pt-56 pb-28 grid grid-cols-1 md:grid-cols-2 gap-6">
            <div>
                <h2 class="mb-4 font-potato text-4xl font-extrabold leading-none text-white md:text-5xl lg:text-6xl tracking-wide">Scopri il</h2>
                <h1 class="mb-4 font-potato text-6xl font-extrabold leading-none text-white md:text-7xl lg:text-8xl tracking-widest">KENYA</h1>
                <h3 class="font-potato text-4xl font-extrabold leading-none text-white md:text-5xl lg:text-6xl tracking-wide">con Elio</h3>
                <p class="pt-10 text-left text-lg font-semibold text-gray-300 lg:text-2xl ml-6">
                    Terre rosse<br>
                    sabbie bainche<br>
                    acqua cristallina<br>
                    e culture ancestrali<br>
                </p>
                <p class="mt-2 mb-8 text-left text-xl font-bold text-gray-300 tracking-wide">
                    🧳PARTI ALL'AVVENTURA🧭
                </p>
                <div class="pl-8 flex flex-row space-y-4 justify-left">
                    <a [routerLink]="['/about']" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-amber-600 hover:bg-amber-700">
                        Conoscimi
                        <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-center bg-no-repeat bg-blend-multiply">
    vdsvdsfdsfdsgdsgd  fsgs
</section>