<section class="bg-orange-50 dark:bg-gray-800">
    <h2 class="animate-fade-in-right lg:absolute text-center py-10 relative lg:top-60 lg:left-[45%] z-10 mb-4 text-5xl tracking-widest font-bold leading-none text-gray-900 lg:text-6xl dark:text-white">CHI SONO</h2>
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 px-12 lg:py-24">
        <div class="pb-12 flex justify-center">
            <figure class="max-w-lg z-1 relative transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0">
                <img class="object-contain w-auto mx-auto rounded-lg" ngSrc="/assets/img/profile.jpg" alt="Elio" width="480" height="640" priority>
            </figure>
        </div>
        <div class="z-10 pl-6 pr-6 pb-12 lg:pt-40">
            <p class="mb-2 text-gray-800 dark:text-gray-400">
                👋 <strong>Ciao</strong> ragazzi! Mi chiamo Elijah ma sono conosciuto col nome d'arte <strong>ELIO</strong>. <br>
                Vivo e lavoro a <button id="popover-image-button" class="text-amber-600 underline hover:no-underline">Watamu</button> come guida turistica, con regolare licenza, e dopo tutti questi anni ho 
                maturato una grande esperienza nell'organizzare safari e escursioni per permettere ai miei clienti di sperimentare le meraviglie che il mio paese ha da offrire.
            </p>
            <p class="mb-2 text-gray-800 dark:text-gray-400">
                Ovviamente si tratta di un lavoro oneroso per una sola persona, ed è per questo che nel tempo ho formato un 
                <strong>team di persone locali affidabili e professionali</strong> con cui collaboro e a cui mi appoggio per 
                organizzare al meglio le vostre esperienze qui in Kenya.
            </p>
            <p class="text-gray-800 dark:text-gray-400">
                Il nostro obbiettivo è di fornirvi il miglior servizio possibile per poter vivere al meglio e appieno l'intera 
                vostra permanenza, e spesso questo rapporto si trasforma in un amicizia che continua nel tempo🥳.
            </p>
            <div id="popover-image" role="tooltip" class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-96 dark:text-gray-400 dark:bg-gray-800 dark:border-gray-600">
                <div class="grid grid-cols-5">
                    <div class="col-span-3 p-3">
                        <div class="space-y-2">
                            <h3 class="font-semibold text-gray-900 dark:text-white">Watamu</h3>
                            <p>Watamu è una piccola città costiera del Kenya, a nord di Mombasa, nota per il Watamu Marine National Park and Reserve, che comprende tre baie: Watamu, Blue Lagoon e Turtle. Le spiagge di sabbia e i giardini di corallo sono elementi caratteristici del luogo.</p>
                            <a href="https://it.wikipedia.org/wiki/Watamu" class="flex items-center font-medium text-amber-600 hover:underline">Read more 
                                <svg class="w-2 h-2 ml-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="relative col-span-2">
                        <img ngSrc="/assets/img/watamu_map.png" class="h-full col-span-2" alt="Watamu map" fill/>
                    </div>
                </div>
                <div data-popper-arrow></div>
            </div>
        </div>
    </div>
</section>
<section class="bg-lime-50/80 dark:bg-zinc-800/90">
    <div class="relative">
        <img class="h-full object-cover -z-10" ngSrc="/assets/img/friends_bg.png" alt="" fill priority/>
        <div class="pl-12 py-12 pr-12">
            <h2 class="font-potato text-center relative text-5xl tracking-widest leading-none text-amber-800 dark:text-amber-700">UNISCITI AI MIEI AMICI</h2>
            <div class="relative text-center py-12">
                <div #friendCountDiv id="friends-num" class="border-8 border-amber-700 dark:border-amber-800 w-28 h-28 rounded-full inline-flex items-center justify-center dark:bg-amber-700 bg-amber-800 font-potato text-3xl dark:text-gray-900 text-white">
                    {{ friendCount + "+" }}
                </div>
                <div class="-rotate-12 drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)] px-16 pt-12 font-potato text-3xl text-gray-900 dark:text-white inline-flex">
                    Sono centinaia <br>i clienti soddisfatti 
                </div>
            </div>
            <div class="relative items-center w-full lg:w-2/3 lg:left-1/2 lg:transform lg:-translate-x-1/2">
                <div class="relative h-60 overflow-hidden rounded-lg sm:h-96 lg:h-[32rem]">
                    <div *ngFor="let img of friendsImgs; let i = 'index+1'" id="{{ 'carousel-item-' + i }}" class="hidden duration-700 ease-in-out">
                        <img loading="lazy" src="{{ friendsImgFolder + img}}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                    </div>
                </div>
                <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
                    <button *ngFor="let img of friendsImgs; let i = 'index+1'" id="{{ 'carousel-indicator-' + i }}" type="button" class="w-3 h-3 rounded-full" [attr.aria-selected]="i == 1" [attr.aria-label]="'Slide ' + i"></button>
                </div>
                <button id="data-carousel-prev" type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none">
                    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                        </svg>
                        <span class="hidden">Previous</span>
                    </span>
                </button>
                <button id="data-carousel-next" type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none">
                    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                        </svg>
                        <span class="hidden">Next</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</section>