<section class="bg-orange-50 dark:bg-gray-800 bg-blend-multiply">
    <h2 class="animate-fade-in-up text-center py-10 relative z-10 mb-4 text-4xl font-bold leading-none text-gray-900 lg:text-5xl dark:text-white">Safari da Watamu</h2>
    <p class="text-gray-800 dark:text-gray-400 text-center px-16 pb-6">
        Ecco i <strong>SAFARI</strong> che propongo con patenza da <strong>Watamu</strong> - per la partenza da <button (click)="scroll(safariNairobi)" class="text-amber-600 font-bold underline hover:no-underline">Nairobi</button>.
    </p>
    <p class="text-gray-800 dark:text-gray-400 text-center px-16 pb-6">
        <span class="italic">* I prezzi sono da intendersi come indicativi: possono variare in favore o sfavore in base al prezzo del carburante, delle tasse, dei biglietti di accesso ai parchi,... *</span>
    </p>
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 px-12 py-12 max-w-6xl mx-auto">


    
    </div>
</section>
<section #safariNairobi class="bg-lime-50 dark:bg-zinc-800 bg-blend-multiply">
    <h2 class="animate-fade-in-up text-center py-10 relative z-10 mb-4 text-4xl font-bold leading-none text-gray-900 lg:text-5xl dark:text-white">Safari da Nairobi</h2>
    <p class="text-gray-800 dark:text-gray-400 text-center px-16 pb-6">
        Questi i <strong>SAFARI</strong> che propongo con patenza da <strong>Nairobi</strong>.
    </p>
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 px-12 py-12 max-w-6xl mx-auto">


    
    </div>

</section>