<section class="bg-orange-50 dark:bg-gray-800 bg-blend-multiply">
    <h2 class="animate-fade-in-up text-center py-10 leading-relaxed relative z-10 mb-4 text-4xl font-bold text-gray-900 lg:text-5xl dark:text-white">SAFARI</h2>
    <p class="text-gray-800 dark:text-gray-400 text-center px-16 py-6">
        Il safari è un'esperienza assolutamente <strong>sicura</strong> e adatta a tutta la famiglia, a patto che ci si affidi ad agenzie e persone competenti, che in caso di emergenze o problemi abbiano le capacità e gli strumenti per risolverli nel modo più rapido possibile.<br>
        Per questo il nostro staff è attentamente selezionato e istruito per poter fronteggiare avversità e problematiche di svariata natura.
    </p>
    <p class="text-gray-800 dark:text-gray-400 text-center px-16 pb-6">
        Safari, in Swahili, significa <strong>viaggio</strong>: in questo caso parliamo di un viaggio nella savana, dove si avvistano animali selvatici alle prese con la loro quotidianità  (Ippopotamo - <i>Kiboko</i>, Elefante - <i>Ndovo</i>, Coccodrillo - <i>Mamba</i>, Giraffa - <i>Ttwiga</i>, Leone - <i>Simba</i>, ed tanti altri...).
    </p>
    <p class="text-gray-800 dark:text-gray-400 text-center px-16 pb-16">
        In questo viaggio sarete accompagnati dal driver e dalla guida - che parlano fluentemente italiano - che vi aiuteranno ad avvistare gli animali e vi spiegheranno le loro abitudini e ogni tipo di curiosità che li riguardi.<br>
        I game drive (le uscite in macchina alla ricerca della fauna selvatica da ammirare) verranno effettuati con dei fuoristrada omologati per per 6 o 7 persone circa, dotati di tetto apribile.
    </p>
    <h5 class="text-center py-4 relative z-10 font-bold text-xl leading-none text-gray-900 dark:text-white">Abbigliamento</h5>
    <p class="text-gray-800 dark:text-gray-400 text-center px-16 pb-6">
        L'abbigliamento da safari è piuttosto simile all'abbigliamento da trekking: si prediligono i colori chiari per non infastidire gli animali.<br>
        È consigliato portare un cappello per ripararsi dal sole, occhiali da sole per proteggere gli occhi dalla sabbia delle piste in terra battuta.
    </p>
    <h5 class="text-center py-4 relative z-10 font-bold text-xl leading-none text-gray-900 dark:text-white">Alloggi</h5>
    <p class="text-gray-800 dark:text-gray-400 text-center px-16 pb-6">
        <span class="font-semibold">LODGE</span><br>
        Sono strutture in muratura, con molte camere, nello stile di un vero e proprio hotel.<br>
        <span class="font-semibold">CAMPI TENDATI</span><br>
        I campi tendati hanno le stanze e le aree comuni in stile, immerse nella natura: le tende ospitano le camere da letto, che all'interno sono in tutto e per tutto camere d'hotel con letti, arredamento, bagno e doccia.<br>
        <br>
        Entrambe le tipologie sono ugualmente sicure, in quanto guardie di sicurezza si aggirano costantemente per monitorare la presenza di animali.
    </p>
</section>
<section class="bg-lime-50 dark:bg-gray-800 bg-blend-multiply">
    <h2 class="animate-fade-in-up text-center py-10 relative z-10 mb-4 text-4xl font-bold leading-none text-gray-900 lg:text-5xl dark:text-white">Safari da Watamu</h2>
    <p class="text-gray-800 dark:text-gray-400 text-center px-16 pb-6">
        Questi i <strong>SAFARI</strong> che propongo con patenza da <strong>Watamu</strong> - per la partenza da <button (click)="scroll(safariNairobi)" class="text-amber-600 font-bold underline hover:no-underline">Nairobi</button>.
    </p>
    <p class="text-gray-800 dark:text-gray-400 text-center px-16 pb-6">
        <span class="italic">* I prezzi sono da intendersi come indicativi: possono variare in favore o sfavore in base al prezzo del carburante, delle tasse, dei biglietti di accesso ai parchi,... *</span>
    </p>
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 px-12 py-12 max-w-6xl mx-auto">


    
    </div>
</section>
<section #safariNairobi class="bg-orange-50 dark:bg-zinc-800 bg-blend-multiply">
    <h2 class="animate-fade-in-up text-center py-10 relative z-10 mb-4 text-4xl font-bold leading-none text-gray-900 lg:text-5xl dark:text-white">Safari da Nairobi</h2>
    <p class="text-gray-800 dark:text-gray-400 text-center px-16 pb-6">
        Questi i <strong>SAFARI</strong> per chi parte da <strong>Nairobi</strong>.
    </p>
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 px-12 py-12 max-w-6xl mx-auto">


    
    </div>

</section>