<section class="bg-orange-50 dark:bg-gray-800 bg-blend-multiply">
    <h2 class="animate-fade-in-up text-center py-10 leading-relaxed relative z-10 mb-4 text-4xl font-bold text-gray-900 lg:text-5xl dark:text-white">SAFARI</h2>
    <p class="text-gray-800 dark:text-gray-400 text-center px-16 py-6">
        Il safari è un'esperienza assolutamente <strong>sicura</strong> e adatta a tutta la famiglia, a patto che ci si affidi ad agenzie e persone competenti, che in caso di emergenze o problemi abbiano le capacità e gli strumenti per risolverli nel modo più rapido possibile.<br>
        Per questo il nostro staff è attentamente selezionato e istruito per poter fronteggiare avversità e problematiche di svariata natura.
    </p>
    <p class="text-gray-800 dark:text-gray-400 text-center px-16 pb-6">
        Safari, in Swahili, significa <strong>viaggio</strong>: in questo caso parliamo di un viaggio nella savana, dove si avvistano animali selvatici alle prese con la loro quotidianità  (Ippopotamo - <i>Kiboko</i>, Elefante - <i>Ndovo</i>, Coccodrillo - <i>Mamba</i>, Giraffa - <i>Ttwiga</i>, Leone - <i>Simba</i>, ed tanti altri...).
    </p>
    <p class="text-gray-800 dark:text-gray-400 text-center px-16 pb-16">
        In questo viaggio sarete accompagnati dal driver e dalla guida - che parlano fluentemente italiano - che vi aiuteranno ad avvistare gli animali e vi spiegheranno le loro abitudini e ogni tipo di curiosità che li riguardi.<br>
        I game drive (le uscite in macchina alla ricerca della fauna selvatica da ammirare) verranno effettuati con dei fuoristrada omologati per per 6 o 7 persone circa, dotati di tetto apribile.
    </p>
    <h5 class="text-center py-4 relative z-10 font-bold text-xl leading-none text-gray-900 dark:text-white">Abbigliamento</h5>
    <p class="text-gray-800 dark:text-gray-400 text-center px-16 pb-6">
        L'abbigliamento da safari è piuttosto simile all'abbigliamento da trekking: si prediligono i colori chiari per non infastidire gli animali.<br>
        È consigliato portare un cappello per ripararsi dal sole, occhiali da sole per proteggere gli occhi dalla sabbia delle piste in terra battuta, abbigliamento più pesante per la sera, antizanzare tropicale, crema solare, adattatore tipo G per presa di corrente.
    </p>
    <h5 class="text-center py-4 relative z-10 font-bold text-xl leading-none text-gray-900 dark:text-white">Alloggi</h5>
    <p class="text-gray-800 dark:text-gray-400 text-center px-16 pb-6">
        <span class="font-semibold">LODGE</span><br>
        Sono strutture in muratura, con molte camere, nello stile di un vero e proprio hotel.<br>
        <span class="font-semibold">CAMPI TENDATI</span><br>
        I campi tendati hanno le stanze e le aree comuni in stile, immerse nella natura: le tende ospitano le camere da letto, che all'interno sono in tutto e per tutto camere d'hotel con letti, arredamento, bagno e doccia.<br>
        <br>
        Entrambe le tipologie sono ugualmente sicure, in quanto guardie di sicurezza si aggirano costantemente per monitorare la presenza di animali.
    </p>
</section>
<section class="bg-lime-50 dark:bg-gray-800 bg-blend-multiply">
    <h2 class="animate-fade-in-up text-center py-10 relative z-10 mb-4 text-4xl font-bold leading-none text-gray-900 lg:text-5xl dark:text-white">Safari da Watamu</h2>
    <p class="text-gray-800 dark:text-gray-400 text-center px-16 pb-6">
        Questi i <strong>SAFARI</strong> che propongo con patenza da <strong>Watamu</strong> - per la partenza da <button (click)="scroll(safariNairobi)" class="text-amber-600 font-bold underline hover:no-underline">Nairobi</button>.
    </p>
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 px-12 py-12 max-w-6xl mx-auto">

        <div *ngFor="let safari of safarisWatamu" class="flex flex-col bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-900 dark:border-gray-700">
            <button class="w-full" (click)="openModal(safari.varName + 'Modal')">
                <div class="relative h-72 sm:h-80 overflow-hidden rounded-t-lg">
                    <img class="absolute -top-2 block w-full rounded-t-lg hover:scale-110 transition duration-500" src="{{ safari.imgFolder + safari.thumbnail }}" alt="" />
                </div>
            </button>
            <div class="px-5 pt-5">
                <button (click)="openModal(safari.varName + 'Modal')" class="text-left">
                    <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ safari.title }}</h5>
                    <h6 class="mb-2 text-lg font-bold tracking-tight text-gray-700 dark:text-gray-300">{{ safari.duration | lowercase }}</h6>
                </button>
                <div class="flex items-center text-gray-400 pb-3">
                    <svg class="w-4 h-4 mr-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.8159 20.6077C16.8509 18.5502 20 15.1429 20 11C20 6.58172 16.4183 3 12 3C7.58172 3 4 6.58172 4 11C4 15.1429 7.14909 18.5502 11.1841 20.6077C11.6968 20.8691 12.3032 20.8691 12.8159 20.6077Z" stroke="#9ca3af" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M15 11C15 12.6569 13.6569 14 12 14C10.3431 14 9 12.6569 9 11C9 9.34315 10.3431 8 12 8C13.6569 8 15 9.34315 15 11Z" stroke="#9ca3af" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    {{ safari.place }}
                </div>
            </div>
            <div class="mt-auto mb-0 px-5 pb-5">
                <hr class="my-3 border-gray-200 sm:mx-auto dark:border-gray-700" />
                <div class="flex justify-items-end">
                    <span *ngIf="safari.price != ''" class="items-center inline-flex text-md font-semibold text-gray-900 dark:text-white ml-0 mr-1">da </span>
                    <span class="items-center inline-flex text-xl font-bold text-amber-600 text-left ml-0 mr-auto">{{ safari.price }}</span>
                    <button (click)="openModal(safari.varName + 'Modal')" class="inline-flex items-center px-3 py-2 mr-0 ml-auto text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Info
                        <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    
    </div>
</section>
<section class="bg-orange-50 dark:bg-zinc-800 bg-blend-multiply">
    <h2 #safariNairobi class="animate-fade-in-up text-center py-10 relative z-10 mb-4 text-4xl font-bold leading-none text-gray-900 lg:text-5xl dark:text-white">Safari da Nairobi</h2>
    <p class="text-gray-800 dark:text-gray-400 text-center px-16 pb-6">
        Questi i <strong>SAFARI</strong> per chi parte da <strong>Nairobi</strong>.
    </p>
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 px-12 py-12 max-w-6xl mx-auto">

        <div *ngFor="let safariNairo of safarisNairoby" class="flex flex-col bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-900 dark:border-gray-700">
            <button class="w-full" (click)="openModal(safariNairo.varName + 'Modal')">
                <div class="relative h-72 sm:h-80 overflow-hidden rounded-t-lg">
                    <img class="absolute -top-2 block w-full rounded-t-lg hover:scale-110 transition duration-500" src="{{ safariNairo.imgFolder + safariNairo.thumbnail }}" alt="" />
                </div>
            </button>
            <div class="px-5 pt-5">
                <button (click)="openModal(safariNairo.varName + 'Modal')" class="text-left">
                    <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ safariNairo.title }}</h5>
                    <h6 class="mb-2 text-lg font-bold tracking-tight text-gray-700 dark:text-gray-300">{{ safariNairo.duration | lowercase }}</h6>
                </button>
                <div class="flex items-center text-gray-400 pb-3">
                    <svg class="w-4 h-4 mr-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.8159 20.6077C16.8509 18.5502 20 15.1429 20 11C20 6.58172 16.4183 3 12 3C7.58172 3 4 6.58172 4 11C4 15.1429 7.14909 18.5502 11.1841 20.6077C11.6968 20.8691 12.3032 20.8691 12.8159 20.6077Z" stroke="#9ca3af" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M15 11C15 12.6569 13.6569 14 12 14C10.3431 14 9 12.6569 9 11C9 9.34315 10.3431 8 12 8C13.6569 8 15 9.34315 15 11Z" stroke="#9ca3af" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    {{ safariNairo.place }}
                </div>
            </div>
            <div class="mt-auto mb-0 px-5 pb-5">
                <hr class="my-3 border-gray-200 sm:mx-auto dark:border-gray-700" />
                <div class="flex justify-items-end">
                    <span *ngIf="safariNairo.price != ''" class="items-center inline-flex text-md font-semibold text-gray-900 dark:text-white ml-0 mr-1">da </span>
                    <span class="items-center inline-flex text-xl font-bold text-amber-600 text-left ml-0 mr-auto">{{ safariNairo.price }}</span>
                    <button (click)="openModal(safariNairo.varName + 'Modal')" class="inline-flex items-center px-3 py-2 mr-0 ml-auto text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Info
                        <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    
    </div>

</section>


<div *ngFor="let safariDetail of safarisWatamu.concat(safarisNairoby)" id="{{ safariDetail.varName + '-modal' }}" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-7xl max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="absolute top-4 right-14">
                <button (click)="closeModal(safariDetail.varName + 'Modal')" type="button" class="fixed z-40 ml-auto text-gray-400 hover:bg-gray-400 hover:text-gray-900 rounded-full bg-gray-200 border-4 border-gray-500 text-sm w-10 h-10 inline-flex justify-center items-center dark:hover:bg-gray-500 dark:bg-gray-700 dark:border-gray-300 dark:hover:text-white">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <div class="rounded-t dark:border-gray-600">
                
                    <h2 class="px-6 pt-6 font-potato text-2xl text-gray-900 dark:text-white">
                        {{ safariDetail.title }}
                    </h2>
                    
                    <h3 class="px-6 py-3 text-lg font-medium text-gray-800 dark:text-gray-200">
                        {{ safariDetail.duration }}
                    </h3>
                    <div class="p-6 flex items-center text-gray-400 pt-0 text-md">
                        <svg class="w-6 h-6 mr-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.8159 20.6077C16.8509 18.5502 20 15.1429 20 11C20 6.58172 16.4183 3 12 3C7.58172 3 4 6.58172 4 11C4 15.1429 7.14909 18.5502 11.1841 20.6077C11.6968 20.8691 12.3032 20.8691 12.8159 20.6077Z" stroke="#9ca3af" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15 11C15 12.6569 13.6569 14 12 14C10.3431 14 9 12.6569 9 11C9 9.34315 10.3431 8 12 8C13.6569 8 15 9.34315 15 11Z" stroke="#9ca3af" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        {{ safariDetail.place }}
                    </div>
                    <div class="p-6 bg-orange-50 dark:bg-gray-800 grid grid-cols-1 gap-6 md:grid-cols-2">
                        <div class="relative items-center h-72 sm:h-96 lg:h-[28rem] px-6">
                            <div class="relative h-72 overflow-hidden rounded-lg sm:h-96 lg:h-[28rem]">
                                <div *ngFor="let excursionImage of safariDetail.imgsArray; let i = 'index+1'" class="hidden duration-700 ease-in-out" id="{{'carousel-'+safariDetail.varName+'-item-'+i}}">
                                    <img src="{{ safariDetail.imgFolder + excursionImage }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                                </div>
                            </div>
                            <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
                                <button *ngFor="let excursionImage of safariDetail.imgsArray; let i = 'index+1'" type="button" class="w-3 h-3 rounded-full" [attr.aria-selected]="i == 1" [attr.aria-label]="'Slide ' + i" id="{{'carousel-'+safariDetail.varName+'-indicator-'+i}}"></button>
                            </div>
                            <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" id="{{'carousel-'+safariDetail.varName+'-prev'}}">
                                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                    <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                                    </svg>
                                    <span class="hidden">Previous</span>
                                </span>
                            </button>
                            <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" id="{{'carousel-'+safariDetail.varName+'-next'}}">
                                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                    <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                                    </svg>
                                    <span class="hidden">Next</span>
                                </span>
                            </button>
                        </div>
                        <div>
                            <span *ngIf="safariDetail.price != ''" class="items-center inline-flex text-md font-semibold text-gray-900 dark:text-white ml-0 mr-1">Prezzo da </span>
                            <span class="mb-4 items-center inline-flex text-xl font-bold text-amber-600 text-left ml-0 mr-auto">{{ safariDetail.price }}</span>
                            <h2 class="mb-2 text-xl font-semibold text-gray-900 dark:text-white">Programma</h2>
                            <ol class="relative border-l border-gray-200 dark:border-gray-700">
                                <li *ngFor="let programItem of safariDetail.programs; let i = 'index+1'" class="mb-10 ml-4">
                                    <button id="{{ 'accordion-' + safariDetail.varName + '-heading-' + i }}" type="button" class="p-2 rounded-lg w-full text-left" [attr.aria-expanded]="i == 1" [attr.aria-controls]="'accordion-' + safariDetail.varName + '-body-' + i">
                                        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                                        <div class="inline-flex items-center justify-between w-full">
                                            <div>
                                                <time class="block mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">{{ i }}° giorno</time>
                                                <h3 class="inline-flex items-center text-lg font-semibold text-gray-900 dark:text-white">
                                                    <svg class="w-4 h-4 mr-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M12.8159 20.6077C16.8509 18.5502 20 15.1429 20 11C20 6.58172 16.4183 3 12 3C7.58172 3 4 6.58172 4 11C4 15.1429 7.14909 18.5502 11.1841 20.6077C11.6968 20.8691 12.3032 20.8691 12.8159 20.6077Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M15 11C15 12.6569 13.6569 14 12 14C10.3431 14 9 12.6569 9 11C9 9.34315 10.3431 8 12 8C13.6569 8 15 9.34315 15 11Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                    {{ safariDetail.dailyPlace[i-1] }}
                                                </h3>
                                            </div>
                                            <div class="pr-4">
                                                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0 text-gray-900 dark:text-gray-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                                                </svg>
                                            </div>
                                        </div>
                                    </button>
                                    <p id="{{ 'accordion-' + safariDetail.varName + '-body-' + i }}" class="hidden mb-4 text-base font-normal text-gray-500 dark:text-gray-400" [attr.aria-labelledby]="'accordion-' + safariDetail.varName + '-heading-' + i" [innerHTML]="programItem"></p>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                        <div *ngIf="safariDetail.included?.length">
                            <h2 class="pb-4 font-semibold text-2xl text-gray-900 dark:text-white">
                                Incluso
                            </h2>
                            <ul class="space-y-1 list-inside text-base leading-relaxed text-gray-500 dark:text-gray-400">
                                <li *ngFor="let includedItem of safariDetail.included" class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-green-500 mr-2 flex-shrink-0" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                                    </svg>
                                    {{ includedItem }}
                                </li>
                            </ul>
                        </div>
                        <div *ngIf="safariDetail.excluded?.length">
                            <h2 class="pb-4 font-semibold text-2xl text-gray-900 dark:text-white">
                                Escluso
                            </h2>
                            <ul class="space-y-1 list-inside text-base leading-relaxed text-gray-500 dark:text-gray-400">
                                <li *ngFor="let excludedItem of safariDetail.excluded" class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-gray-500 mr-2 flex-shrink-0" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                                    </svg>
                                    {{ excludedItem }}
                                </li>
                            </ul>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</div>